:root {
    --main-title-color: #ffffff;
    --second-title-color: #212121;
    --third-title-color: #212121;
    --fourth-title-color: #212121;
    --main-text-color: #757575;
    --second-text-color: #757575;
    --main-btn-color: #ffffff;
    --second-btn-color: #212121;
    --header-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #2f303a;
    --third-text-color: rgba(255, 255, 255, 0.6);
    --second-accent-color: #188ce8;
    --main-background-color: #f5f4fa;
  }